.new-task {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1rem;
	background-color: var(--gray);
	box-shadow: 0px 0px 20px var(--shadow);
}

.new-task--hidden {
	display: none;
}

.new-task__input {
	width: 100%;
	text-align: left;
	font-size: 1em;
	background: none;
	border: none;
}

.new-task__input:focus {
	outline: none;
}

.new-task__button {
	font-size: 1.1em;
	border: none;
	background: none;
	cursor: pointer;
}
