.rename-task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	background-color: var(--gray);
	box-shadow: 0px 0px 20px var(--shadow);
}

.rename-task--hidden {
	display: none;
}

.rename-task__input {
	width: 100%;
	padding-left: 1em;
	border: none;
	background: none;
	font-size: 1em;
}

.rename-task__input:focus {
	outline: none;
}

.rename-task__button {
	padding: 0.5em 1em;
	font-size: 1.1em;
	border: none;
	background: none;
	cursor: pointer;
}
