.summary {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 2em;
}

.summary__bar-inner {
	height: 20px;
	width: 80%;
	border-radius: 10px;
	background-color: var(--teal);
	overflow: hidden;
	margin: 0 1em;
}

.summary__bar-fill {
	height: 100%;
	width: 100%;
	background-color: var(--dark);
	transition: all 0.3s ease-out;
}

.summary__span {
    text-align: right;
    width: 20%;
    min-width: 140px;
}

.summary__span--amount {
	font-weight: bold;
}

.summary__span--amount:last-child {
	margin-right: 1em;
}
