@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

.tasks {
	max-height: 80%;
	width: 100%;
	max-width: 600px;
	background-color: var(--gray);
	box-shadow: 0px 0px 20px var(--shadow);
}

.tasks__heading {
	font-family: 'Meow Script', cursive;
	font-size: 2.6em;
}

.tasks__separator {
	height: 1px;
	width: 20%;
	max-width: 100px;
	background-color: var(--black);
}

.tasks__list {
	width: 100%;
	margin: 0.5em;
	overflow-y: auto;
}
