.app {
	text-align: center;
}

.new-task__buton {
	padding: 0.5em 2em;
	border: none;
	border-radius: 20px;
	color: var(--gray);
	background: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
	cursor: pointer;
	transform: translateY(-50%);
}

.new-task__buton:focus {
	outline: none;
	background: var(--black);
}
