@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
	font-size: 62.5%;
}

body {
	background: linear-gradient(to right, pink 0%, pink 50%, paleturquoise 50%, paleturquoise 100%);
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	margin: 2em;
}

body button:focus {
	outline: none;
}