@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--black: rgb(17, 45, 78);
	--dark: rgb(63, 114, 175);
	--teal: rgb(219, 226, 239);
	--gray: rgb(249, 247, 247);
	--shadow: rgba(0, 0, 0, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, var(--teal) 0%, var(--teal) 50%, var(--gray) 50%, var(--gray) 100%);
	font-family: 'Roboto', sans-serif;
}
